.password-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #03112c; /* Background color */
    color: #ffffff; /* Text color */
  }
  
  .password-input-container h1 {
    margin-bottom: 20px;
    font-size: 36px; /* Title font size */
  }
  
  .password-input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-input-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 250px; /* Width of the input field */
    font-size: 18px; /* Font size */
  }
  
  .password-input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #08bf94; /* Button color */
    color: #001f3f; /* Button text color */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .password-input-container button:hover {
    background-color: #21a1f1; /* Darker button color on hover */
  }